<div id="title-box">
        <span class="return-icon" ng-click="gotoHome()">
            <i class="iconfont iconfanhui"></i>
        </span>
    <span>问答集锦</span>
    <span class="home-icon" ng-click="gotoHome()">
            <i class="iconfont iconindex-0"></i>
        </span>
</div>
<div id="box" style="padding-top: 0;background: #ffffff;">
    <div class="knowledge-list">
        <div class="knowledge-item" ng-repeat="list in answerList" ng-click="gotoDetail(list.id)">
            <span class="knowledge-img" style="height: 68px;">
                <img ng-src="{{'images/banner1.jpg'}}">
            </span>
            <span class="knowledge-info">
                <p class="knowledge-title">{{list.title}}</p>
                <p class="knowledge-author" style="margin-top: 10px;width: 100%;"><span style="float: left;">{{list.name}}</span><span style="float: right;">{{list.hospital_name}}</span></p>
            </span>
        </div>
    </div>
</div>