<!-- banner -->
<div class="normal_box">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide home_banner">
                <img ng-src="{{'images/banner.png'}}" class="mw100">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>

<div class="nav-list">
    <div class="nav-item" ng-click="gotoLive()" style="margin-left: 2%;margin-right: 1%;">
        <span class="img-box" style="width: 122px;height: 75px;">
            <img ng-src="{{'images/live.png'}}">
        </span>
        <span class="model-title">预约直播</span>
        <span class="model-desc">开播前给你发送信息提醒</span>
    </div>
    <div class="nav-item" ng-click="gotoKnowledge()" style="margin-left: 1%;margin-right: 2%;">
        <span class="img-box" style="width: 122px;height: 75px;">
            <img ng-src="{{'images/knowledge.png'}}" style="width: 60%;height: 80%;position: relative;top: 12px;">
        </span>
        <span class="model-title">疾病知识</span>
        <span class="model-desc">便捷快速的了解医疗知识</span>
    </div>
    <div class="nav-item" ng-click="gotoHelp()" style="margin-left: 2%;margin-right: 1%;">
        <span class="img-box" style="width: 122px;height: 75px;">
            <img ng-src="{{'images/help.png'}}" style="width: 70%;height: 90%;position: relative;top: 6px;">
        </span>
        <span class="model-title">助力解结</span>
        <span class="model-desc">专业团队提供强力帮助</span>
    </div>
    <div class="nav-item" ng-click="gotoClass()" style="margin-left: 1%;margin-right: 2%;">
        <span class="img-box" style="width: 122px;height: 75px;">
            <img ng-src="{{'images/class.png'}}">
        </span>
        <span class="model-title">视频课堂</span>
        <span class="model-desc">与优秀医师面对面</span>
    </div>
    <div class="nav-item" ng-click="gotoAnswer()" style="margin-left: 2%;margin-right: 1%;">
        <span class="img-box" style="width: 122px;height: 75px;">
            <img ng-src="{{'images/answer.png'}}">
        </span>
        <span class="model-title">问答集锦</span>
        <span class="model-desc">优秀专家为您一对一解答</span>
    </div>
    <div class="nav-item" ng-click="gotoMap()" style="margin-left: 1%;margin-right: 2%;">
        <span class="img-box" style="width: 122px;height: 75px;">
            <img ng-src="{{'images/map.png'}}" style="width: 60%;height: 80%;position: relative;top: 12px;">
        </span>
        <span class="model-title">诊疗地图</span>
        <span class="model-desc">专业团队为你提供强烈支持</span>
    </div>
</div>