/***public style****/
body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, b, small, u, i, center, dl, dt, dd, ol, ul, li,  sub, sup, tt, var, del, dfn,  ins, kbd, q, s, samp,  strike, applet, object, iframe, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, blockquote, pre, a, abbr, acronym, address, big, cite, code, mark, audio, video, input, textarea, select { margin:0; padding:0;}

ol, ul{list-style:none;}

html {
  overflow-x:hidden;
  -webkit-text-size-adjust:none;
}

body {
  font-size:15px;
  font-family:"Pingfang SC","Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4a4a4a;
  font-weight: 400;
}

/*a 链接*/
a {
  text-decoration:none;
  outline:none;
  color: #4a4a4a;
}

/*图片居中*/
.jzimg{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.jzimg img{
  max-width: 100%;
  max-height: 100%;
}
img{ border:0}

/*em/i去除样式*/
i,em,strong{ font-style:normal}

/*浮动*/
.fl {float:left;}
.fr {float:right;}
.clear { clear:both}
.clearfix { *zoom:1;}
.clearfix:after{
  clear:both;
  display:block;
  height:0;
  visibility:hidden;
  line-height:0;
  content:'\20';
}

/* 表单样式 */
input, button, textarea, select { 
  font-size:100%; 
  outline:none; 
  resize:none;
  border: none;
}
input:focus, button:focus, textarea:focus, select:focus { 
  outline:none;
}
input[type="button"]{
  cursor:pointer; 
  border:0
}
input[type="submit"]{
  cursor:pointer; 
  border:0
}
input[type="reset"]{
  cursor:pointer; 
  border:0
}
input,select{
  -webkit-appearance: none;
}
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: none;
  box-shadow: none;
}

/*删除火狐下按钮默认样式*/
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{ 
  border:none; 
  padding:0; 
}

/*字体大小、缩进*/
.f10 { font-size:10px;}
.f11 { font-size:11px;}
.f12 { font-size:12px;}
.f13 { font-size:13px;}
.f14 { font-size:14px;}
.f15 { font-size:15px;}
.f16 { font-size:16px;}
.f17{ font-size:17px;}
.f18{ font-size:18px;}
.f19{ font-size:19px;}
.f20{ font-size:20px;}
.f21{ font-size:21px;}
.f22{ font-size:22px;}
.f23{ font-size:23px;}
.f24{ font-size:24px;}
.f28{ font-size:28px;}
.t2{text-indent:2em;}

/*字体粗细*/
.w300{ font-weight: 300; }
.w400{ font-weight: 400; }
.w500{ font-weight: 500; }
.w600{ font-weight: 600; }

/*上下间距*/
.mb5 { margin-bottom:5px;}
.mb10{ margin-bottom:10px;}
.mb15{ margin-bottom:15px;}
.mb20{ margin-bottom:20px;}
.mb25{ margin-bottom:25px;}

.mt5 { margin-top:5px;}
.mt10{ margin-top:10px;}
.mt15{ margin-top:15px;}
.mt20{ margin-top:20px;}
.mt25{ margin-top:25px;}
.mt30{ margin-top:30px;}

/*上下间距*/
.pb5 { padding-bottom:5px;}
.pb10{ padding-bottom:10px;}
.pb15{ padding-bottom:15px;}
.pb20{ padding-bottom:20px;}
.pb25{ padding-bottom:25px;}

.pt5 { padding-top:5px;}
.pt10{ padding-top:10px;}
.pt15{ padding-top:15px;}
.pt20{ padding-top:20px;}
.pt25{ padding-top:25px;}
.pt30{ padding-top:30px;}

/*
0.5px边框：
1、单边：
*/
.perfect-border-bottom{
  background-image: linear-gradient(0deg, #ccc, #ccc 50%, transparent 50%);
  background-position: bottom;
  background-size: 100% 1px;
  background-repeat:no-repeat;
}

.perfect-border-top{
  background-image: linear-gradient(0deg, #ccc, #ccc 50%, transparent 50%);
  background-position: top;
  background-size: 100% 1px;
  background-repeat:no-repeat;
}

.perfect-border-left{
  background-image: linear-gradient(0deg, #ccc, #ccc 50%, transparent 50%);
  background-position: left;
  background-size: 1px 100%;
  background-repeat:no-repeat;
}

.perfect-border-right{
  background-image: linear-gradient(0deg, #ccc, #ccc 50%, transparent 50%);
  background-position: right;
  background-size: 1px 100%;
  background-repeat:no-repeat;
}

/*全边：
span:before{
  border:1px solid #ccc;
}//需要细边框的元素设置border颜色，加上perfect-all-border即可
*/
.perfect-all-border{
  position: relative;
}

.perfect-all-border:before{
  position: relative;
  content: '';  
  position: absolute;  
  left: 0;  
  top: 0;  
  width: 200%;  
  height: 200%;  
  transform: scale(.5, .5);  
  box-sizing: border-box;  
  transform-origin: 0 0;
}

/*背景*/
.graybg{
  background-color: #f8f8f8;
}

.whitebg{
  background-color: #fff;
}
